body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-top: 2em;
}

input[type="range"] {
    width: 80%;
    max-width: 500px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    margin: 0.5em;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: #3e8e41;
}

input[type="text"] {
    font-size: 1.2em;
    padding: 0.5em;
    border: 2px solid #ddd;
    border-radius: 0.25em;
    margin: 0.5em;
    text-align: center;
}

input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}

html {
    scroll-behavior: smooth;
}